* {
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten el ancho total */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    overflow-x: hidden; /* Evitar el desplazamiento horizontal */
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    align-items: flex-start; /* Alinear elementos a la izquierda */
    height: 100vh;
    background-image: url(1.png);
    background-size: cover; /* Mantener el tamaño original */
    background-position: center;
    background-repeat: no-repeat;
}

.button-container {
    position: absolute;
    top: 50%;
    left: 80px; /* Mantener el ajuste a la derecha */
    transform: translateY(-50%);
    display: flex;
}

.button-mayor, .button-menor {
    padding: 0.6rem 1.2rem; /* Cambiado a rem para mejor control */
    font-size: 1rem; /* Ajustar el tamaño de fuente */
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    max-width: 250px; /* Limitar el ancho máximo */
}

.button-mayor { background-color: #F39; }
.button-menor { background-color: #639; border: 2px solid #cc297a; }
.button-mayor:hover { background-color: #cc297a; transform: translateY(-2px); }
.button-menor:hover { opacity: 0.8; transform: translateY(-2px); }

.content {
    display: flex;
    flex-direction: column; /* Alinear elementos verticalmente */
    align-items: flex-start; /* Alinear elementos a la izquierda */
    justify-content: center; /* Centrar verticalmente */
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(2.png);
    background-size: cover; /* Asegurar que la imagen se ajuste correctamente */
    background-position: center;
    background-repeat: no-repeat;
}

.form-container {
   display:flex ; 
   flex-direction :column ;  
   position:absolute ; 
   top :60% ; 
   left :10% ; 
   width :50% ; 
   transform :translateY(-50%) ; 
}

form input {
   margin :1vh 0 ;  
   padding :1rem ; 
   width :75% ;  
   max-width :400px ;  
   border-radius :10px ; 
   border :3px solid #ffc0cb ; 
   background-color :#fff ; 
}

form input::placeholder { color :#ccc ; }
form button {
   padding :1rem 2rem ; 
   background-color :#5E2D8A ; 
   color :#fff ; 
   border-radius :50px ; 
   cursor:pointer ; 
   font-weight :700 ; 
   font-size :1rem ; 
   transition :background-color 0.3s ease ; 
}

form button:hover { background-color:#4a1f6b ; }

.image-container {
   position:absolute ; /* Permite posicionar las imágenes en relación a su contenedor */ 
   bottom :20px ; 
   right :20px ; 
   display:flex ; /* Usar flexbox para alinear las imágenes */ 
}

.loteria-image {
   margin-bottom: 10px; /* Espacio inferior para separar de Ludopatía */
}

.small-image {
   width :150px ;
   margin-left: 10px; /* Espacio a la izquierda para separación */
}

.logo-easybet {
   position :relative ;
   top :20px ; /* Ajusta según sea necesario */
   left :80px; /* Ajuste para alinearlo a la izquierda */
   width :300px ; /* Mantén el mismo tamaño */
}

.subscription-text {
   position :relative ;
   color :lightpink ;
   font-size :24px ; /* Ajustado para que no sea tan grande */
   font-weight :bold ;
   font-family :'Poppins', sans-serif ;
   margin-left :80px; /* Ajuste para alinearlo a la izquierda */
   text-align:left; /* Alinear texto a la izquierda */
}

.subscription-text + .subscription-text { 
   margin-top :0.2px ;/* Espaciado entre líneas */
}

.success-message {
   display:flex ; 
   flex-direction :column ;
   position:absolute ;
   top :50% ;
   left :5% ;
   transform :translateY(-50%) ;
}

.success-message p, .success-message button { margin :10px 0 ; }

/* Media Queries para dispositivos móviles */
@media (max-width :400px) {
   .form-container { width :95vw ; left :2.5%; }
   
   form input, form button {
       width :85vw ;
       font-size :4vw ;/* Ajusta el tamaño de fuente con vw */
       padding :1rem ;
   }

   .button-mayor, .button-menor {
       padding :1vw 2vw ;
       font-size :2.5vw ;/* Reducir el tamaño de fuente */ 
   }

   .button-container { top :40%; left :5%; }

   .small-image { width :20px ; }
   .logo-easybet { width :150px ; }
   
   .subscription-text { 
       font-size :5vw ;
       margin-left :0 ; 
       text-align:left; 
}
