body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.hero {
    position: relative;
    display: flex;
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
    align-items: flex-start; /* Alinea los elementos arriba */
    height: 100vh;
    background-color: #f5f5f5;
}

.button-container {
    position: absolute;
    top: 50px;  /* Espacio desde arriba */
    left: 50px; /* Espacio desde la izquierda */
    text-align: center;
}

.button, .button-secondary {
    padding: 15px 30px;
    margin: 10px;
    background-color: #FF99CC; /* Pink color */
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
}

.button:hover {
    background-color: #e68aac; /* Darker pink on hover */
}

.button-secondary {
    background-color: #6c757d; /* Grey color */
}

.button-secondary:hover {
    background-color: #5a6268; /* Darker grey on hover */
}

.content {
    padding: 50px;
    text-align: center;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

form button {
    padding: 15px 30px;
    background-color: #FF99CC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #e68aac;
}

